<% flash.each do |key, value|%>
   <%= value %>
<% end %>
<table>

  <thead>
    <tr>
      <th>First Name</th>
      <th>First Name</th>
      <th>Email Address</th>
      <th>Phone No</th>
      <th>Salary</th>
      <th>Department</th>
      <th>Edit Department</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |emp| %>
       <%= render 'employee_data', employee: emp %>
   <% end %>
  </tbody>

</table>

